/* Resetting margins and ensuring consistency across elements */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: Inter, sans-serif !important;
}

/* Navbar Styles */
.navbar {
  background-color: rgba(106, 153, 78, 0.9) !important; /* Light green */
}

.navbar-toggler:focus {
  box-shadow: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

/* Logo image styles */
.w-100.h-100.img-fluid.object-fit-cover.rounded-3 {
  height: 85px;
  width: 376px;
}

/* Navbar link text color */
.nav-link, .dropdown-item {
  color: rgb(47, 67, 78) !important; /* Charcoal */
}

/* Auth links (Login/Signup) */
.auth-links a {
  color: rgb(91, 130, 145) !important; /* Steel Teal */
}

.auth-links a:hover {
  color: rgb(47, 67, 78) !important; /* Charcoal */
}

/* Links on hover */
.nav-link:hover, .dropdown-item:hover {
  color: rgb(91, 130, 145) !important; /* Steel Teal */
}

/* Bootstrap Button Customization */
.btn-primary {
  --bs-btn-bg: rgb(56, 102, 65); /* Primary Color */
  --bs-btn-border-color: rgb(56, 102, 65);
  --bs-btn-color: #ffffff;
}

.btn-primary:hover {
  --bs-btn-bg: rgb(56, 102, 65);
  --bs-btn-border-color: rgb(56, 102, 65);
  --bs-btn-color: #ffffff;
}

.btn-secondary {
  --bs-btn-bg: rgb(106, 153, 78); /* Secondary Color */
  --bs-btn-border-color: rgb(106, 153, 78);
  --bs-btn-color: #ffffff;
}

/* Typography styles */
.text-center.fw-bold {
  font-size: 40px;
}

.text-steel-teal {
  color: rgb(91, 130, 145) !important;
}

.text-charcoal {
  color: rgb(47, 67, 78) !important;
}

.text-bright-gray {
  color: rgb(235, 236, 238) !important;
}

.text-pale-blue {
  color: rgb(152, 218, 216) !important;
}

.bg-light-green {
  background-color: rgba(106, 153, 78, 0.9) !important; /* Light green */
}

.bg-light {
  background-color: rgb(249, 251, 253) !important;
}

.bg-beige {
  background-color: rgb(242, 232, 207) !important;
}

.bg-gray {
  background-color: rgb(235, 236, 238) !important;
}

